#**Q.1 What is a database? Differentiate between SQL and NoSQL databases:**

**Ans :-**


*   A database is an organized collection of structured information or data, typically stored electronically in a computer system. It allows for efficient retrieval, manipulation, and management of data.

*   SQL (Structured Query Language) databases are relational databases that use SQL as their standard interface. They have a predefined schema and use tables to store data with rows and columns. Examples include MySQL, PostgreSQL, SQLite, Oracle, etc.


*   NoSQL (Not Only SQL) databases are non-relational databases that provide a mechanism for storage and retrieval of data modeled in means other than the tabular relations used in relational databases. They are more flexible and scalable compared to SQL databases. Examples include MongoDB, Cassandra, Redis, Couchbase, etc.

#**Q.2 What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example:**

**Ans :**


*   DDL (Data Definition Language) is a subset of SQL used to define, alter, and drop database objects such as tables, views, indexes, etc.
*   CREATE: Used to create a new table, view, index, etc.
*   DROP: Used to delete an existing table, view, index, etc.
*   ALTER: Used to modify the structure of an existing database object.
*   TRUNCATE: Used to delete all rows from a table without removing the table structure.

**Example :**

CREATE TABLE Employees (
    ID INT PRIMARY KEY,
    Name VARCHAR(50),
    Age INT
);

ALTER TABLE Employees ADD COLUMN Department VARCHAR(50);

DROP TABLE Employees;

TRUNCATE TABLE Employees;

#**Q.3 What is DML? Explain INSERT, UPDATE, and DELETE with an example:**

**Ans :**



*   DML (Data Manipulation Language) is a subset of SQL used to manipulate data within database objects.
*   INSERT: Used to add new records into a table.
*   UPDATE: Used to modify existing records in a table.
*   DELETE: Used to remove records from a table.

**Example : **

INSERT INTO Employees (ID, Name, Age, Department) VALUES (1, 'John', 30, 'IT');

UPDATE Employees SET Age = 31 WHERE ID = 1;

DELETE FROM Employees WHERE ID = 1;

#**Q.4 What is DQL? Explain SELECT with an example:**

**Ans :**


*   DQL (Data Query Language) is a subset of SQL used to retrieve data from a database.
*   SELECT: Used to retrieve data from one or more tables.

**Example : **

SELECT * FROM Employees;

#**Q.5 Explain Primary Key and Foreign Key:**

**Ans :**

*   Primary Key: A primary key is a unique identifier for each record in a table. It ensures that each record in the table can be uniquely identified. Primary keys are used to enforce entity integrity and are typically implemented as indexed columns.
*   Foreign Key: A foreign key is a field or a set of fields in one table that uniquely identifies a row of another table or the same table. It establishes a relationship between two tables and ensures referential integrity.

#**Q.6 Write a Python code to connect MySQL to Python. Explain the cursor() and execute() method:**

**Ans :**

import mysql.connector

**Establishing a connection to MySQL**

connection = mysql.connector.connect(
    host="localhost",
    user="username",
    password="password",
    database="database_name"
)

** Creating a cursor object**

cursor = connection.cursor()

** Executing a SQL query**

cursor.execute("SELECT * FROM table_name")

** Fetching results**

results = cursor.fetchall()

** Iterating through results**

for row in results:
    print(row)

** Closing cursor and connection**

cursor.close()
connection.close()




*   cursor() method: It creates a cursor object which is used to execute SQL queries against the database.
*   execute() method: It is used to execute SQL queries. You can pass the SQL query as a parameter to this method. After executing the query, the cursor object is moved to the first row of the result set, if there is any.

#**Q.7 Give the order of execution of SQL clauses in an SQL query:**

**Ans :**

The general order of execution of SQL clauses in a query is as follows:

*   FROM: Specifies the table(s) from which data is to be retrieved.
*   WHERE: Filters the rows that meet the specified conditions.
*   GROUP BY: Groups the result set by one or more columns.
*   HAVING: Filters the grouped rows that meet the specified conditions.
*   SELECT: Retrieves the desired columns or expressions.
*   DISTINCT: Filters out duplicate rows from the result set.
*   ORDER BY: Sorts the result set by specified column(s).
*   LIMIT/OFFSET: Limits the number of rows returned or skips a specified number of rows.